* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: whitesmoke;
}

header {
  background: rebeccapurple;
  height: 3rem;
}

footer {
  height: 1rem;
  width: 100%;
  background: rgb(30, 14, 46);
  color: magenta;
  overflow: hidden;
  font-size: 0.5rem;
  padding: 0.25rem 1rem;
}

span {
  float: right;
  user-select: none;
}

section {
  margin: 1rem;
  padding: 1rem;
  min-height: calc(100vh - 6rem);
  background-color: antiquewhite;
}

iframe {
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 7),
    rgba(0, 0, 0, 0)
  );
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 7), rgba(0, 0, 0, 0));
}
