* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: whitesmoke;
}

header {
  background: rgb(153, 51, 51);
  height: 3rem;
}

footer {
  height: 1rem;
  width: 100%;
  background: rgb(30, 14, 46);
  color: rgb(0, 17, 255);
  overflow: hidden;
  font-size: 0.5rem;
  padding: 0.25rem 1rem;
}

span {
  float: right;
  user-select: none;
}

section {
  min-height: calc(100vh - 4rem);
  padding: 1rem;
  background-color: antiquewhite;
}
