* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: whitesmoke;
}

header {
  background: rebeccapurple;
  height: 3rem;
}

footer {
  height: 1rem;
  width: 100%;
  background: rgb(30, 14, 46);
  color: magenta;
  overflow: hidden;
  font-size: 0.5rem;
  padding: 0.25rem 1rem;
}

.display-presssed-button {
  font-size: 11px;
  padding: 0.7rem 1rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  color: rgb(32, 32, 32);
}

.button-body {
  background-color: white;
  display: inline-block;
  margin: 0.3rem;
  box-shadow: inset 0px 0px 2px 1px rgb(216, 216, 216),
    1px 2px 2px 1px rgb(190, 190, 190);
  border-radius: 6%;
}

span {
  float: right;
  user-select: none;
}

section {
  min-height: calc(100vh - 4rem);
  padding: 1rem;
  background-color: antiquewhite;
}
