@media screen and (max-width: 993px) {
  #menu-icon {
    display: inline-block !important;
    float: right !important;
    font-size: 70px;
    padding-top: 60px;
    padding-right: 15px;
  }

  .nav-row1 {
    display: none;
  }

  #nav-toggle a {
    width: 100%;
    display: block;
  }
}

@media screen and (min-width: 993px) {
  .nav-row1 {
    display: inline-block !important;
  }
}
