header {
  background: rebeccapurple;
  height: 3rem;
}

footer {
  height: 1rem;
  width: 100%;
  background: rgb(33, 13, 53);
  color: magenta;
  overflow-y: hidden;
  font-size: 0.5rem;
  padding: 0.25rem 1rem;
}

span {
  float: right;
  user-select: none;
}

section {
  margin: 1rem;
  padding: 1rem;
  min-height: calc(100vh - 6rem);
  background-color: antiquewhite;
}
